.card-redounded {
    border-radius: 30px;
}

.bg-card {
    background-color: rgba(59, 63, 69, 0.8);
}

.bg-page {
    background-image: url(../../../../../assets/images/abstract-1850424_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.field-hidden {
    display: none;
}

input::placeholder {
    font-size: 16px;
    font-family: 'Campton-Bold', serif;
    font-weight: bold;
}