* {
    margin: 0;
    background-color: #333333;
}

.example-container {
    display: flex;
    flex-direction: column;
}

.example-container>* {
    width: 100%;
}

.mat-input-element {
    caret-color: #f8ec32 !important;
}

.mat-focused {
    caret-color: #f8ec32 !important;
}